<meta charset="UTF-8">

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
._customer-cat-bot__wrap {
    max-width: 627px;
    font: 24px/1.4 Roboto, Arial, sans-serif;
    color: #333333 !important;
}
._customer-cat-bot__ttl {
    font-size: 24px;
    color: #333333 !important;
    margin-bottom: 25px;
    display: block !important;
    font-weight: 600;
}
._customer-cat-bot__list {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -10px;
}
._customer-cat-bot__item {
    text-align: center;
    display: block !important;
    border: 1px solid #e4e4e4;
    padding: 10px 17px;
    margin-bottom: 15px;
    position: relative;
    box-sizing: border-box;
    height: 73px;
}
._customer-cat-bot__item-1 {}
    ._customer-cat-bot__item-1 {
        width: 208px;
    }
    ._customer-cat-bot__item-2 {
        width: 142px;
    }
    ._customer-cat-bot__item-3 {
        width: 169px;
    }
    ._customer-cat-bot__item-4 {
        width: 69px;
    }
    ._customer-cat-bot__item-5 {
        width: 104px;
    }
    ._customer-cat-bot__item-6 {
        width: 204px;
    }
    ._customer-cat-bot__item-7 {
        width: 194px;
    }
    ._customer-cat-bot__item-8 {
        width: 86px;
    }
._customer-cat-bot__item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
</style>

<div class="_customer-cat-bot__wrap">
    <div class="_customer-cat-bot__ttl">Наши клиенты</div>
    <div class="_customer-cat-bot__list">
        <div class="_customer-cat-bot__item _customer-cat-bot__item-1">
            <img src="img/block_catalog_bottom/img-1.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-2">
            <img src="img/block_catalog_bottom/img-2.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-3">
            <img src="img/block_catalog_bottom/img-3.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-4">
            <img src="img/block_catalog_bottom/img-4.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-5">
            <img src="img/block_catalog_bottom/img-5.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-6">
            <img src="img/block_catalog_bottom/img-6.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-7">
            <img src="img/block_catalog_bottom/img-7.png" alt="">
        </div>
        <div class="_customer-cat-bot__item _customer-cat-bot__item-8">
            <img src="img/block_catalog_bottom/img-8.png" alt="">
        </div>
    </div>
</div>