<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-category__wrap {
        max-width: 627px;
        font-family: Roboto, Arial, sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 15px;
        color: #333333;
        font-weight: 300;
    }

    ._customer-category__top {
        background: #ffffff;
        display: block !important;
        margin-bottom: 10px;
    }

    ._customer-category__ttl {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }

    ._customer-category__list {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
        padding-left: 29px;
    }

    ._customer-category__item {
        display: flex !important;
        width: 46%;
        margin-bottom: 25px;
    }

    ._customer-category__item ._customer-category__img-1 {
        width: 40px !important;
        height: 40px !important;
    }

    ._customer-category__item ._customer-category__img-2 {
        width: 44px !important;
        height: 44px !important;
    }

    ._customer-category__item ._customer-category__img-3 {
        width: 38px !important;
        height: 38px !important;
    }
    ._customer-category__item ._customer-category__img-4 {
        width: 44px !important;
        height: 33px !important;
    }

    ._customer-category__block {
        margin-left: 20px;
        margin-top: 5px;
    }

    ._customer-category__item-ttl {
        font-weight: 600;
        margin-bottom: 8px;
    }

    ._customer-category__item-txt {
        font-size: 15px;
        line-height: 22px;
        color: #666666;
        font-weight: 300;
    }

    ._customer-category__bottom {
        background: #ffffff;
        padding: 10px 30px 25px 30px;
        position: relative;
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid #d6e1dc;
    }
    ._customer-category__bottom img {
        margin-top: 10px;
        min-width: 85px !important;
        max-height: 98px !important;
    }

    ._customer-category__question {
        display: block !important;
        width: 45%;
    }

    ._customer-category__question-ttl {
        font-size: 22px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block !important;
    }

    ._customer-category__question-txt {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        display: block !important;
        font-weight: 300;
    }

    ._customer-category__callback {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
    }

    ._customer-category__callback a {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: #333333;
        text-decoration: none;
        margin-bottom: 10px;
        display: block !important;
        position: relative;
        letter-spacing: -0.3px;
    }

    ._customer-category__callback a:hover {
        text-decoration: underline;
    }

    ._customer-category__btn {
        width: 170px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #1343d4;
        color: #ffffff !important;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        display: block;
        text-decoration: none;
        font-family: Arial, sans-serif;
    }

    ._customer-category__btn:hover {
        opacity: 0.8;
        color: #ffffff !important;
    }

    @media (max-width: 1150px) {
        ._customer-category__item {
            width: 100%;
        }
        ._customer-category__bottom {
            display: block;
        }
        ._customer-category__question {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        ._customer-category__callback {
            width: 100%;
            align-items: center;
        }
        ._customer-category__bottom img {
            margin: 0 auto;
        }
    }


</style>

<div class="_customer-category__wrap">
    <div class="_customer-category__top">
        <div class="_customer-category__ttl">
            ЖБИ: комплексное обеспечение объектов
        </div>
        <div class="_customer-category__list">
            <div class="_customer-category__item">
                <img class="_customer-category__img-1" src="img/block_catalog/time.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Отгрузка в день оплаты</div>
                    <div class="_customer-category__item-txt">Для типовой продукции</div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-2" src="img/block_catalog/save.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Цены от производителя</div>
                    <div class="_customer-category__item-txt">Без переплат посредникам</div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-3" src="img/block_catalog/pollution.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Производство от 2 дней</div>
                    <div class="_customer-category__item-txt">Для нестандартной продукции по чертежам заказчика</div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-4" src="img/block_catalog/van.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Возможна доставка в день заказа</div>
                    <div class="_customer-category__item-txt">По г. Новосибирску и области</div>
                </div>
            </div>
        </div>
    </div>

    <div class="_customer-category__bottom">
        <img src="img/block_catalog/avatar.png">
        <div class="_customer-category__question">
            <div class="_customer-category__question-ttl">
                У вас есть заявка?
            </div>
            <div class="_customer-category__question-txt">
                Индивидуально обсуждаем скидки и согласовываем сроки поставки.<br>
                Свяжитесь с менеджером компании.
            </div>
        </div>
        <div class="_customer-category__callback">
            <a onclick="yaCounter48544061.reachGoal('megasite_comblock_email'); return true;" class="_customer-category__phone" href="tel:+73833814646">+7&nbsp;(383)&nbsp;381-46-46</a>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-category__btn" data-company-id="99642180"
                 data-company-name="ДетальКонструкция" data-company-name-rest="ООО" data-company-url="https://www.beton-detal.ru"
                 data-ga-id="CK-1193-1" data-params="{&quot;company_id&quot;:99642180}" data-statistics="1" data-type="callback"
                 onclick="yaCounter48544061.reachGoal('megasite_comblock_callback'); return true;">Перезвоните мне</div>
        </div>
    </div>
</div>

